{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Knight and Day</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static '/Day_And_Knights/assets/css/main.css' %}"/>
		<noscript><link rel="stylesheet" href="{% static '/Day_And_Knights/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="/league/" class="title">Knight and Day</a>
				<nav>
					{% if not request.user.is_authenticated %}
					<a class="login" href="{% url 'login' %}">Log in</a>
					{% else %}
					<a class="logout" href="{% url 'logout' %}">Logout</a>
					{% endif %}
					<ul>
						{% if user.is_superuser %}
    					<li><a href="{% url 'admin:index' %}">Admin</a></li>
						{% endif %}
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'matches' %}">Matches</a></li>
						<li><a href="{% url 'teams' %}">Teams</a></li>
						<li><a href="{% url 'players' %}">Players</a></li>
						<li><a href="{% url 'calendar' %}">Calendar</a></li>						
					</ul>
				</nav>
			</header>

			{% block content %}
			{% endblock %}


		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Knight and Day. All rights reserved.</li><li>Editor: <a href="/league/contact">Jack Howorth</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static '/Day_And_Knights/assets/js/jquery.min.js' %}"></script>
			<script src="{% static '/Day_And_Knights/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static '/Day_And_Knights/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static '/Day_And_Knights/assets/js/browser.min.js' %}"></script>
			<script src="{% static '/Day_And_Knights/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static '/Day_And_Knights/assets/js/util.js' %}"></script>
			<script src="{% static '/Day_And_Knights/assets/js/main.js' %}"></script>

	</body>
</html>